# Python
__pycache__/
*.pyc
.venv/
venv/

# Terraform
.terraform/
*.tfstate
*.tfstate.*
.terraform.lock.hcl

# Jenkins
jenkins_home/

# Environment
.env

# IDE
.vscode/
.idea/
terraform/terraform.tfstate
